
.container {
    
    background: no-repeat center center fixed;
    position: fixed;
   
}
.over-img {
    position: absolute;
    top: 2%;
    left: 5%;
}

.text {
    position: absolute;
    top: 2%;
    left: 40%;
    color: white;
    font-weight: bold;
    
}


/* div {
    background-position: center;
    background-attachment: fixed;
    width: 200%;
    height: 100%;
    /* margin: 50px; */
   
/* } */ 



/* .logo {
    height: 200px;
} */

/* body, html {
    height: 200%;
} 
.background {
    height: 200%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
/* .img-wrap {
  width: 200px;
  height: 150px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}
div > img {
  display: block;
  position: absolute; */
  /* top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%); */
/* } */

/* div {
    margin: 0px;
} */

 /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
