
.container {
    
    background: no-repeat center center fixed;
    position: fixed;
    
   
}
.background {
    width: 100%;
    height: auto;
}
.over-img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 2%;
    left: 5%;
}

.text {
    position: absolute;
    top: 2%;
    left: 40%;
    color: white;
    font-weight: bold;
    
}
.p2 {
    display: none;
}

@media screen and (min-width: 768px) {
    .over-img {
        width: 200px;
        height: 200px;
    }
    .text {
        font-size: 25px;
    }
    .p2 {
        display: block;
        position: absolute;
        top: 13%;
        left: 32%;
        color: white;
        font-weight: bold;
        font-size: 25px;
    }
}
@media screen and (min-width: 1024px) {
        
    .text {
        font-size: 35px;
    }
    .p2 {
        font-size: 40px;
    }

}


/* div {
    background-position: center;
    background-attachment: fixed;
    width: 200%;
    height: 100%;
    /* margin: 50px; */
   
/* } */ 



/* .logo {
    height: 200px;
} */

/* body, html {
    height: 200%;
} 
.background {
    height: 200%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
/* .img-wrap {
  width: 200px;
  height: 150px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}
div > img {
  display: block;
  position: absolute; */
  /* top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%); */
/* } */

/* div {
    margin: 0px;
} */

 /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
