@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

#third {
    background-color: #2B3035;
}
iframe {
    width: 300px;
    height: 200px;
    position: relative;
    display: block;
    margin: auto;
}

p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
}

button {
    background-color: #E6D2B2;
    color: #2B3035;
    margin-top: 50px;
    margin-bottom: 400px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    iframe {
        width: 600px;
        height: 400px;
    }
    p {
        font-size: 40px;
    }
    button {
        padding: 5px;
        font-size: 20px;   
    }
}

@media screen and (min-width: 1024px) {
    iframe {
        width: 650px;
        height: 450px;
    }

@media screen and (min-width: 1440px) {
    iframe {
        width: 1000px;
        height: 850px;
    }
}
}