

html {
    background-color:  #E6D2B2;
}
#second {
    background-color: #2B3035;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 250px;
}
.nails {
    border: 1px solid white;
}
.logo {
    position: fixed;
    margin-top: -250px;
    padding-bottom: 20px;
    
    /* justify-content: center; */
    /* align-items: center;
    left:45%;
    padding: 60px;  */
}
#thumbs{
    padding: 5px;
}
.p3 {
    margin: 2px;
    font-size: 10px;
    font-weight: bold;
    margin-left: -3px;
    
}
.p4 {
    display: none;
}

@media screen and (min-width: 768px) {
    .p4 {
        display: block;
        text-align: center;
        font-weight: bold;
        /* margin-left: 100px; */
        margin-top: -2px;
        margin-bottom: 2px;
        padding-top: 30px;
        font-size: 15px; 
        line-height: 1.5;
            
    }
}

@media screen and (min-width: 1024px) {
    .p4 {
       font-size: 25px; 
    }
}

@media screen and (min-width: 1440px) {
    .p4 {
        margin-left: 300px;
        margin-right: 150px;
        padding-top: 70px;
        padding-right: 90px;
    }
    #thumbs {
        padding: 20px;
        margin-left: 20px;
    }
    .nails {
        margin-right: -60px;
    }
}

@media screen and (min-width: 2560px) {
    .p4 {
        margin-left: 745px;
        margin-right: 200px;
        padding-top: 70px;
        padding-right: 550px;
    }
}

/* /* html {
    background-color: #D8B983;
} */
/* div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
body {
    margin-top: 250px;
} */ 
